:root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.green.400');
    --shiki-token-string: theme('colors.green.400');
    --shiki-token-comment: theme('colors.gray.400');
    --shiki-token-keyword: theme('colors.sky.400');
    --shiki-token-parameter: theme('colors.pink.400');
    --shiki-token-function: theme('colors.violet.400');
    --shiki-token-string-expression: theme('colors.green.400');
    --shiki-token-punctuation: theme('colors.gray.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
